<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Title{% endblock %}</title>
    {% block styles %}
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
      <link href='{{STATIC_URL}}css/base.css' rel='stylesheet' type='text/css'>
      {% if user.is_authenticated %}
        <link href='{{STATIC_URL}}css/header.css' rel='stylesheet' type='text/css'>
      {% endif %}
    {% endblock %}
  </head>
  <body>
    {% if user.is_authenticated %}
      {% include 'header.html' %}
    {% endif %}
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>
</html>
