{% extends "base.html" %}

{% block title %} {{hack.title}} {% endblock %}

{% block styles %} 
  {{ block.super }}
  <link href='{{STATIC_URL}}css/index.css' rel='stylesheet' type='text/css'>
  <link href='{{STATIC_URL}}css/event.css' rel='stylesheet' type='text/css'>
  <link href='{{STATIC_URL}}css/form.css' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
  <div id="content">
    <a href='{% url events.views.index %}'>&larr; Event list</a>
    <h3><a href='{% url events.views.event hack.id %}'>{{hack.title}}</a></h3>
    {% if hack.creator == user %}
      <div class="controls">
        <a href='{% url events.views.edit_event hack.id %}'>Edit</a>
        <a href='{% url events.views.delete_event hack.id %}'>Delete</a>
      </div>
    {% endif %}
    <div class="indent">
      <p class="description">{{hack.description}}</p>
      <table class="details">
        <tr>
          <td class='icon'><img src='{{STATIC_URL}}images/date.png'/></td>
          <td>{{hack.start.date}}</td>
        </tr>
        <tr>
          <td class='icon'><img src='{{STATIC_URL}}images/time.png'/></td>
          <td>{{hack.start.time}}</td>
        </tr>
        <tr>
          <td class='icon'><img src='{{STATIC_URL}}images/location.png'/></td>
          <td>{{hack.location}}</td>
        </tr>
      </table>
    </div>
    <h3>Projects</h3>
    <ul>
    {% for project in projects %}
      <li>
        <h4>{{project.title}}</h4>
        {% if project.creator == user %}
          <div class="controls">
            <a href='{% url events.views.edit_project project.id %}'>Edit</a>
            <a href='{% url events.views.delete_project project.id %}'>Delete</a>
          </div>
        {% endif %}
        <div class="description">{{project.description}}</div>
        <div>Added by {{project.creator.get_profile.full_name}}</div>
        <div>
          Registered hackers:
          {% for hacker in project.hackers.all %}
            {{hacker.get_profile.full_name}}&nbsp;
          {% endfor %}
        </div>
      </li>
    {% endfor %}
    </ul>
    <h3>Quick Add Project</h3>
    <form action='{% url events.views.event hack.id %}' method='POST'>
      {% csrf_token %}
      {{form.as_p}} 
      <input type='submit' value='Add Project'/>
    </form>
  </div>
{% endblock %}
