{% extends "base.html" %}

{% block title %} Poll for {{event.title}} {% endblock %}

{% block styles %} 
  {{ block.super }}
  <link href='{{STATIC_URL}}css/index.css' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
  <div id="content">
    <a href='{% url events.views.event event.id %}'>&larr; Back to {{event.title}}</a>
    {% if event.state == event.VOTING %}
      <h3>Vote form</h3>
      <div>Number of votes: {{ event.voters.all|length }}</div>
      <form action="{% url events.views.vote event.id %}" method="POST">
        {% csrf_token %}
        {% for option in event.polloption_set.all %}
          <input type="radio" name="option" id="choice{{ forloop.counter }}" value="{{ option.id }}" />
          <label for="choice{{ forloop.counter }}">{{ option.text }}</label><br />
        {% endfor %}
        <input type="radio" name="option" id="choice" value="-1" checked='checked'/>
        <label for="choice">New proposal</label>
        <input type="text" name='proposal'/><br />
        {% if user in event.voters.all %}
          <input type="submit" disabled="disabled" value="You already voted" />
        {% else %}
          <input type="submit" value="Vote" />
        {% endif %}
      </form>
    {% endif %}
    {% if event.state == event.COMPLETED %}
      <h3>Vote results for {{event.title}}</h3>
      {% for option in event.polloption_set.all %}
        <div>{{option.text}} : {{option.count}}</div>    
      {% endfor %}
      <h4>Voters</h4>
      {% for voter in event.voters.all %}
        <img src='{{voter.get_profile.picture}}'>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
